flows.json
[
    {
        "id": "b0de9bd5bd5d5e2c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5b651d4f07aad0f0",
        "type": "http in",
        "z": "b0de9bd5bd5d5e2c",
        "name": "",
        "url": "/callback",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 220,
        "wires": [
            [
                "3a8907a6972a4959"
            ]
        ]
    },
    {
        "id": "47c85f5c216bd777",
        "type": "linebot-client",
        "z": "b0de9bd5bd5d5e2c",
        "name": "",
        "channelAccessToken": "VRAEhnTUV+MWJeUi1dXx/7K3fr+TYenbZyLnCZ+l5u+AUA4CFSsGg137HOq6QcOFX6xOKm8s9gxYn8x6Xb/SNH2wFgUwmL6yv8cK6B0RgSbLr939VkuW05mTl0Ou8g1ZerrzvHaBpw/Pm/ZB2T/ugQdB04t89/1O/w1cDnyilFU=",
        "channelSecret": "048f2290c41859e3ca3fd8a2ef6e1acc",
        "x": 450,
        "y": 240,
        "wires": [
            [
                "7b11e50f806d84a0"
            ]
        ]
    },
    {
        "id": "7b11e50f806d84a0",
        "type": "debug",
        "z": "b0de9bd5bd5d5e2c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 240,
        "wires": []
    },
    {
        "id": "3a8907a6972a4959",
        "type": "function",
        "z": "b0de9bd5bd5d5e2c",
        "name": "function 1",
        "func": "var receive_msg = msg.payload;\nvar reply = msg;\n\nif (receive_msg.events[0].message.type == \"text\") {\n    if (receive_msg.events[0].message.text == \"สวัสดี\") {\n        reply = { type: 'text', text: \"สวัสดีจ้า\" };\n    }\n    else if (receive_msg.events[0].message.text == \"Layout\") {\n        reply = { type: 'text', text: \"ได้เลยครับ พิมพ์ชื่อหน่วยงานมาได้เลยครับ\" };\n    }\n    else if (receive_msg.events[0].message.text == \"HR\") {\n        reply = {type:'text', text: \"ชั้นห้า ห้องด้านในสุด ตรงข้ามห้องน้ำ\"}\n    }\n    else if (receive_msg.events[0].message.text == \"Legal\") {\n        reply = { type: 'text', text: \"ชั้นห้า เลี้ยวขวาตรงทางเชื่อมไปบันไดชั้นหก\" }\n    }\n    else if (receive_msg.events[0].message.text == \"บัญชี\") {\n        reply = { type: 'text', text: \"ชั้นหก ตรงเข้าไป เลี้ยวซ้าย\" }\n    }\n  \n    else {\n      reply = { type: 'text', text: \"ขอโทษครับ น้อง M-Digi ยังไม่เข้าใจ กรุณาพิมพ์ใหม่อีกครั้งได้ไหมครับ\" }\n    }\n}\n\nvar value = [receive_msg,reply];\nmsg.payload = value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 240,
        "wires": [
            [
                "47c85f5c216bd777"
            ]
        ]
    }
]